**/node_modules/**
**/build/**
**/target/**

# =========================
# Sensitive configuration
# =========================
application.properties.txt
**/application.properties


# =========================
# Wallet files (e.g., Oracle Wallet)
# =========================
wallet/
**/wallet/
*.sso
*.jks
*.p12
*.pem
*.key
*.crt

# =========================
# Docker files (if you don't want to include them)
# =========================
DockerfileDev.txt
Dockerfile.*
docker-compose.yml
docker-compose.yaml

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
logs/
*.log
logs.log*